@model StreamShift.Domain.Entities.Transfer

@{
    ViewData["Title"] = "Create";
    var selectList = ViewBag.eDatabaseList as List<SelectListItem>;
}

<h1>Oluştur</h1>

<h4>Transfer</h4>
<hr />

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="SourceConnectionString" class="control-label"></label>
        <input asp-for="SourceConnectionString" class="form-control" />
        <span asp-validation-for="SourceConnectionString" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DestinationConnectionString" class="control-label"></label>
        <input asp-for="DestinationConnectionString" class="form-control" />
        <span asp-validation-for="DestinationConnectionString" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="SourceDatabase" class="control-label"></label>
    <div class="input-group">
        <select asp-for="SourceDatabase" asp-items="selectList" class="form-control">
            <option value="">Please select</option>
        </select>
       
    </div>
    <span asp-validation-for="SourceDatabase" class="text-danger"></span> 
</div>

    <div class="form-group">
        <label asp-for="DestinationDatabase" class="control-label"></label>
        <select asp-for="DestinationDatabase" asp-items="selectList" class="form-control">
            <option value="">Please select</option>
        </select>
        <span asp-validation-for="DestinationDatabase" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Oluştur" class="btn btn-primary float-end" />

    </div>
   
</form>
